body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 900px;
  padding: 0 20px;
}

h1, h2, h3 {
  color: #333;
  margin-top: 30px;
}

iframe {
  border: none;
  width: 100%;
  height: 900px;
  max-width: 1100px;
  margin: 20px auto;
  display: block;
}

/* format dashboards*/
.tableau-container {
  width: 100%;
  overflow-x: auto;
}

.tableau-container iframe {
  width: 1300px;    
  max-width: none;
  border: none;
}

